body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
}
.nav-link {
  color: #2e2f42;
}
.web {
  color: #4d5ae5;
}
address a {
  color: #2e2f42;
}
.studio {
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.666;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
p {
  font-weight: 400;
  line-height: 1.5;
}
.section1 {
  background-color: #2e2f42;
  text-align: center;
}
.section2 {
  background-color: #f4f4fd;
}
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.contact-link:hover {
  color: #404bbf;
}
.nav-link:hover {
  color: #404bbf;
}
.studio-link:active {
  text-decoration: underline;
}
.button:hover {
  background-color: #404bbf;
}
.footer {
  background-color: #2e2f42;
}
.footer p {
  color: #f4f4fd;
}
